<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>projetojpa</display-name>
	<welcome-file-list>
		<welcome-file>/main/webapp/view/pessoa/pessoaEdit.html</welcome-file>
	</welcome-file-list>
	<!-- Estagio do projeto "Development" ou "Production" -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<!-- Configuração do JSF -->
	<!-- Nesta parte da configuração nós dissemos para o JSF que todo arquivo 
		que tenha a extensão “.xhtml” deve passar pelo Faces Servlet. + O Servlet 
		que filtra as requisições feitas pelo cliente. -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<!-- Tipo de arquivo que será filtrado pelo Faces Servlet. -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>


	<mime-mapping>
		<extension>woff2</extension>
		<mime-type>application/font-woff2</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>woff2</extension>
		<mime-type>application/font-woff2</mime-type>
	</mime-mapping>
</web-app>